<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Friend details">
  <ion-content has-header="true" padding="true">
      <img src="{{friend.photo.photo_link}}" />
      <br>
      <h1>{{friend.name}}</h1>
      <div class="list">

          <a class="item item-icon-left">
              <i class="icon ion-ios7-email-outline"></i>
              <h2>{{friend.emailAddress}}</h2>
          </a>

          <a class="item item-icon-left">
              <i class="icon ion-ios7-telephone-outline"></i>
              <h2>{{friend.phoneNumber}}</h2>
          </a>

          <!-- Showing a note item only if a note has been saved.
             Clicking on the note item will transfer to note editing page -->
          <a class="item item-text-wrap item-icon-left" ng-if="note" href="#/tab/add_friend_note/{{friend.id}}">
              <i class="icon ion-ios7-paper-outline"></i>
              <h3>{{note}}</h3>
          </a>

      </div>

      <!-- Showing the "Add note" button only when there is no note saved yet. -->
      <a class="button button-block button-large button-positive" ng-if="!note" href="#/tab/add_friend_note/{{friend.id}}">
          Add note
      </a>
  </ion-content>
</ion-view>
