<ion-view title="Friends">
    <ion-content class="has-header">
        <ion-list>
            <a ng-repeat="friend in friends"
               href="#/tab/friend/{{friend.id}}"
               class="item item-avatar-left item-icon-right">

                <img ng-if="!!friend.photo" src="{{friend.photo.thumb_link}}">
                <img ng-if="!friend.photo" src="img/placeholder.jpg">
                <h2>{{friend.name}}</h2>

                <!-- Show the "note" icon on the right only when note was saved -->
                <i class="icon ion-ios7-paper-outline" ng-if="$storage[friend.id]"></i>

                <p>{{friend.city}}, {{friend.state}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
